// bower:scss
// endbower

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
}

.container {
  width: 1170px;
}

.header {
  position: absolute;
  top: 0;
  height: 75px;
  background-color: red;
}

.content {
  height: 100%;
  position: relative;
  padding-top: 75px;

  .fixed-wrap {
    height: 70%;
    width: 100%;

    .embed-player {
      height: 70%;
      background-color: green;
    }

    .player-controllers {

      background-color: purple;
    }
  }

  .playlist {
    height: 30%;
    max-height: 30%;
  }

  .container {
    max-height: 100%;
    overflow-y: auto;
  }
}
